# ЗАКРЕПЛЕНИЕ ЗНАНИЙ

Для решения задач нам понадобится выделить из признака title год выпуска фильма. Для этого напишем функцию get_year_release(arg). Данная функция основана на регулярных выражениях и использует модуль re. Модуль re предназначен для поиска шаблонов в тексте и встроен в язык, поэтому не нуждается в установке.

In [1]:
import pandas as pd

In [3]:
rate_mov = pd.read_csv('data/ratings_movies.csv')
rate_mov.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [15]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        year = int(year)
        return year
    else:
        #если год не указан, возвращаем None
        return None

## Создайте в таблице новый признак year_release, который соответствует году выпуска фильма. У скольких фильмов не указан год их выпуска?

In [16]:
rate_mov['year_release'] = rate_mov['title'].apply(get_year_release)
display(year_release)

0         1995.0
1         1995.0
2         1995.0
3         1995.0
4         1995.0
           ...
100831    2017.0
100832    2017.0
100833    2017.0
100834    2017.0
100835    2017.0
Name: title, Length: 100836, dtype: float64

In [17]:
rate_mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

In [9]:
rate_mov.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0

In [12]:
rate_mov['year_release'] = rate_mov['year_release'].astype('category')
rate_mov.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0

## Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?

In [24]:
mask1 = rate_mov['year_release'] == 1999
rate_mov_trans = rate_mov[mask1]
print(rate_mov_trans)

        Unnamed: 0  userId  movieId  rating                 date  \
162            162       1     2502     5.0  2000-07-30 18:21:18
166            166       1     2571     5.0  2000-07-30 18:31:28
167            167       1     2580     5.0  2000-07-30 18:50:00
170            170       1     2617     2.0  2000-07-30 18:43:08
171            171       1     2628     4.0  2000-07-30 18:08:43
...            ...     ...      ...     ...                  ...
100090      100090     610    27317     4.0  2016-11-19 08:48:51
100169      100169     610    41712     4.0  2016-11-19 08:53:53
100677      100677     610   110281     4.0  2016-11-19 08:00:36
100797      100797     610   145951     0.5  2017-05-03 22:03:39
100815      100815     610   158721     3.5  2016-11-19 08:01:31

                                                   title  \
162                                  Office Space (1999)
166                                   Matrix, The (1999)
167                                            Go (1999)
170                                    Mummy, The (1999)
171     Star Wars: Episode I - The Phantom Menace (1999)
...                                                  ...
100090                         Audition (Ôdishon) (1999)
100169                    Room for Romeo Brass, A (1999)
100677           King of Comedy (Hei kek ji wong) (1999)
100797                Bloodsport: The Dark Kumite (1999)
100815                                 Gen-X Cops (1999)

                                                 genres  year_release
162                                        Comedy|Crime        1999.0
166                              Action|Sci-Fi|Thriller        1999.0
167                                        Comedy|Crime        1999.0
170     Action|Adventure|Comedy|Fantasy|Horror|Thriller        1999.0
171                             Action|Adventure|Sci-Fi        1999.0
...                                                 ...           ...
100090            Drama|Horror|Mystery|Romance|Thriller        1999.0
100169                                     Comedy|Drama        1999.0
100677                             Comedy|Drama|Romance        1999.0
100797                                  Action|Thriller        1999.0
100815                           Action|Comedy|Thriller        1999.0

[4536 rows x 8 columns]

In [43]:
rate_mov_trans.groupby('title')['rating'].mean().sort_values(ascending=True).head()
#Bloodsport: The Dark Kumite

title
Bloodsport: The Dark Kumite (1999)    0.5
Simon Sez (1999)                      1.0
Chill Factor (1999)                   1.0
Source, The (1999)                    1.0
Trippin' (1999)                       1.0
Name: rating, dtype: float64

## Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?

In [44]:
mask2 = rate_mov['year_release'] == 2010
rate_mov_trans_1 = rate_mov[mask2]
print(rate_mov_trans_1)

        Unnamed: 0  userId  movieId  rating                 date  \
244            244       2    74458     4.0  2015-10-24 19:28:46
245            245       2    77455     3.0  2015-10-24 19:29:01
246            246       2    79132     4.0  2015-10-24 19:27:21
247            247       2    80489     4.5  2015-10-24 19:35:40
248            248       2    80906     5.0  2015-10-24 19:32:52
...            ...     ...      ...     ...                  ...
100521      100521     610    89028     3.5  2017-05-03 21:56:46
100522      100522     610    89072     4.0  2017-05-03 21:55:45
100524      100524     610    89281     3.5  2017-05-03 22:02:14
100525      100525     610    89582     4.5  2016-11-19 08:50:03
100548      100548     610    93193     3.0  2017-05-03 22:20:13

                                        title  \
244                     Shutter Island (2010)
245         Exit Through the Gift Shop (2010)
246                          Inception (2010)
247                          Town, The (2010)
248                         Inside Job (2010)
...                                       ...
100521     Don't Be Afraid of the Dark (2010)
100522                      Stake Land (2010)
100524      Birdemic: Shock and Terror (2010)
100525  Cold Fish (Tsumetai nettaigyo) (2010)
100548                        Red Hill (2010)

                                                 genres  year_release
244                              Drama|Mystery|Thriller        2010.0
245                                  Comedy|Documentary        2010.0
246     Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX        2010.0
247                                Crime|Drama|Thriller        2010.0
248                                         Documentary        2010.0
...                                                 ...           ...
100521                                  Horror|Thriller        2010.0
100522                                           Horror        2010.0
100524                                 Romance|Thriller        2010.0
100525                                   Drama|Thriller        2010.0
100548                           Crime|Thriller|Western        2010.0

[1715 rows x 8 columns]

In [45]:
rate_mov_trans_1.groupby('genres')['rating'].mean().sort_values(ascending=True).head()
#Action|Sci-Fi

genres
Action|Sci-Fi               1.000000
Action|Adventure|Horror     1.500000
Action|Drama|Fantasy        1.500000
Crime|Romance               1.500000
Adventure|Comedy|Fantasy    1.833333
Name: rating, dtype: float64

## Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [46]:
rate_mov.groupby('userId')['genres'].agg(['nunique']).sort_values(by='nunique', ascending=False)
# 599

        nunique
userId
599         524
414         482
448         403
380         399
474         395
...         ...
578          15
12           15
85           13
214          13
245          13

[610 rows x 1 columns]

## Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая

In [56]:
rate_mov_1 = rate_mov.groupby('userId')['rating'].agg(['count', 'mean']).sort_values(by='count', ascending=True)
print(rate_mov_1)

        count      mean
userId
442        20  1.275000
406        20  3.250000
147        20  3.375000
194        20  3.475000
569        20  4.000000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

In [60]:
rate_mov_2 = rate_mov_1.sort_values(by='mean', ascending=False)
print(rate_mov_2)
#53

        count      mean
userId
53         20  5.000000
251        23  4.869565
515        26  4.846154
25         26  4.807692
30         34  4.735294
...       ...       ...
567       385  2.245455
153       179  2.217877
508        24  2.145833
139       194  2.144330
442        20  1.275000

[610 rows x 2 columns]

## Найдите сочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10

In [61]:
mask3 = rate_mov['year_release'] == 2018
rate_mov_trans_2 = rate_mov[mask3]
print(rate_mov_trans_2)

       Unnamed: 0  userId  movieId  rating                 date  \
4031         4031      25   122912     5.0  2018-08-28 15:34:21
4036         4036      25   187541     4.0  2018-08-28 15:34:32
4037         4037      25   187593     5.0  2018-08-28 15:35:34
7420         7420      50   188301     3.0  2018-08-03 13:17:57
7421         7421      50   190183     3.5  2018-08-03 13:13:41
...           ...     ...      ...     ...                  ...
90255       90255     586   187595     5.0  2018-06-25 04:05:56
92108       92108     596   122912     4.0  2018-08-30 11:06:55
92156       92156     596   183635     3.5  2018-08-31 09:59:53
92157       92157     596   184997     4.0  2018-09-01 19:03:49
92158       92158     596   188301     4.0  2018-08-31 09:57:48

                                        title  \
4031   Avengers: Infinity War - Part I (2018)
4036                     Incredibles 2 (2018)
4037                        Deadpool 2 (2018)
7420              Ant-Man and the Wasp (2018)
7421                 The Darkest Minds (2018)
...                                       ...
90255          Solo: A Star Wars Story (2018)
92108  Avengers: Infinity War - Part I (2018)
92156      Maze Runner: The Death Cure (2018)
92157                      Love, Simon (2018)
92158             Ant-Man and the Wasp (2018)

                                       genres  year_release
4031                  Action|Adventure|Sci-Fi        2018.0
4036      Action|Adventure|Animation|Children        2018.0
4037                     Action|Comedy|Sci-Fi        2018.0
7420   Action|Adventure|Comedy|Fantasy|Sci-Fi        2018.0
7421                          Sci-Fi|Thriller        2018.0
...                                       ...           ...
90255        Action|Adventure|Children|Sci-Fi        2018.0
92108                 Action|Adventure|Sci-Fi        2018.0
92156          Action|Mystery|Sci-Fi|Thriller        2018.0
92157                            Comedy|Drama        2018.0
92158  Action|Adventure|Comedy|Fantasy|Sci-Fi        2018.0

[91 rows x 8 columns]

In [63]:
new_rate_table = rate_mov_trans_2.groupby('genres')['rating'].agg(['count', 'mean'])
print(new_rate_table)

                                        count      mean
genres
Action|Adventure|Animation|Children         4  3.000000
Action|Adventure|Children|Sci-Fi            5  3.900000
Action|Adventure|Comedy|Fantasy|Sci-Fi      3  3.666667
Action|Adventure|Drama|Sci-Fi|Thriller      2  3.250000
Action|Adventure|Fantasy                    4  2.500000
Action|Adventure|Sci-Fi                    14  3.928571
Action|Adventure|Thriller                   2  3.750000
Action|Animation                            1  3.500000
Action|Comedy                               1  3.000000
Action|Comedy|Crime|Horror                  1  4.000000
Action|Comedy|Sci-Fi                       12  3.875000
Action|Crime|Drama|Thriller                 1  4.000000
Action|Crime|Thriller                       1  2.500000
Action|Fantasy|Sci-Fi                       2  2.750000
Action|Mystery|Sci-Fi|Thriller              1  3.500000
Adventure|Children|Fantasy|Sci-Fi           1  3.000000
Adventure|Comedy|Fantasy                    1  4.500000
Adventure|Mystery|Sci-Fi|Thriller           3  3.833333
Adventure|Thriller                          1  4.500000
Animation|Comedy                            5  3.500000
Comedy                                      8  3.312500
Comedy|Crime|Drama                          1  2.500000
Comedy|Drama                                2  3.250000
Comedy|Fantasy|Sci-Fi                       1  4.500000
Comedy|Romance                              1  4.500000
Crime|Drama                                 1  3.500000
Crime|Drama|Mystery|Thriller                1  1.500000
Documentary                                 2  4.000000
Drama|Fantasy|Thriller                      1  2.000000
Drama|Horror|Thriller                       4  2.750000
Horror|Mystery|Sci-Fi|Thriller              2  2.250000
Horror|Mystery|Thriller                     1  3.500000
Sci-Fi|Thriller                             1  3.500000

In [67]:
mask_1 = new_rate_table['count'] > 10
rate_mov_trans_n = new_rate_table[mask_1]
print(rate_mov_trans_n)
#Action|Adventure|Sci-Fi

                         count      mean
genres
Action|Adventure|Sci-Fi     14  3.928571
Action|Comedy|Sci-Fi        12  3.875000