Обработка таблицы данных о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения (финальное задание в Pandas 10)

In [1]:
import pandas as pd

In [ ]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [3]:
display(student_data)

NameError: ignored

In [ ]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Информация о столбцах таблицы:

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [ ]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [ ]:
student_data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
student_data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [ ]:
student_data.loc[155, 'writing score']

88

In [ ]:
student_data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [ ]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [ ]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [ ]:
student_data[student_data['math score'] == 0].shape[0]

1

In [ ]:
val1 = round(student_data[student_data['lunch'] == 'standard']['math score'].mean())
val2 = round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())
print(val1, val2)

70 59

In [ ]:
stud_total = student_data.count()
stud_parents_bach = student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]
val = stud_parents_bach / stud_total
print(val)

NameError: ignored

In [ ]:
student_data["parental level of education"].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [ ]:
a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
b = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(a - b)))

6